/*重置样式*/
*{
	margin:0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #666666;
}
.wapper{
	width: 1190px;
	margin:0 auto;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.left{
	float: left;
}
.right{
	float: right;
}
h1,h2,h3,h4,h5{
	font-weight: normal;
	font-size: 12px;
}