/*头部*/
html,body,ul,li,p{
	margin: 0;
	padding: 0;
} 
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
/*整体*/
/*1rem=100px;
1vw=1%浏览器=7.5px；
1rem=13.33vw；*/

html{
	height: 100%;
	font-size: 100px;
}
body{
	display: flex;
	flex-direction: column;
	height: 100%;
	font-size: 16px;
}
#header{
	height: 43.056vw;
	background: #3f454f;
}
#main{
	flex:1;
	background: #f5f5f9;
	overflow: auto;
}
#footer{
	height: 13.33vw;
	background: #ffffff;
}
/*小图标*/
#header div{
	display: flex;
	justify-content:space-between;
	padding: 3.99vw 4.4vw 0 4.4vw;
	height: 5.732vw;
}
#header a{
	color: #fff;
}
.p1 a span{
	font-size: 3.999vw;
	vertical-align: middle;
	margin-left: 2.934vw;
}
.p1 a i{
	font-size: 5.332vw;
	vertical-align: middle;
}
.p2 i{
	font-size: 5.332vw;
	vertical-align: top;
	padding-left: 4.67vw;
}
/*大图标*/
#header ul{
	display: flex;
	margin-top: 60px;
}
#header ul li{
	width: 25%;
	height: 8vw;
	display: flex;
	justify-content: center;
}
#header li a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#header li a i{
	font-size: 9.331vw;
}
#header li a span{
	font-size: 3.99vw;
	margin-top: 1.333vw;
}
/*主体*/
#main ul{
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	background: #fff;
}
#main ul li{
	width: 25%;	
}
#main a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 24vw;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
}
#main li:nth-of-type(2n+1) i{
	font-size: 6.932vw;
	color: #2eb3e8;
}
#main li:nth-of-type(2n) i{
	font-size: 6.932vw;
	color: #f96268;
}
#main a span{
	font-size: 3.33vw;
	color: #333333;
}
.main-img{
	height: 22.39vw;
	margin: 3.999vw 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #2eb3e8;
}
/*底部*/
#footer ul{
	background: #ffffff;
	display: flex;
	justify-content: space-between;
}
#footer ul li{
	width: 25%;
}
#footer ul li a{
	height: 13.33vw;
	border-top: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#footer ul li a i{
	font-size: 5.87vw;
	color: #29ab91;
}
#footer ul li a span{
	font-size: 2.53vw;
	color: #00aaff;
}