/*头部*/
/*头部第一部分*/
.header-t{
	background: #8c0000;
	width: 100%;
	position: relative;
}
.warpper{
	width: 60%;
	margin:0 auto;
}
.header-t ul li{
	padding:6px 2px 6px 3px;
}
.header-t ul a{
	color: #e5e3e3;
	font-size: 14px;
	padding: 0 5px;
}
.header-t ul a i{
	font-size: 12px;
}
.header-t ul:nth-of-type(1) li{
	float: left;
}
.header-t ul:nth-of-type(2) li{
	float: left;
}
.warpper .i1{
	color: #fff;
	font-size: 25px;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}
.warpper .i2{
	color: #fff;
	font-size: 25px;
	position: absolute;
	right: 0;
	top: 0;
	visibility:hidden;
}
@media screen and (max-width: 1750px){
	#header .nav li>a{font-size: 13px;width: 100px;}
}
@media screen and (max-width: 1400px){
	.warpper{width:100%;}
	.nav .subnav img{padding-left: 0;}
	.nav .subnav1 img{padding-left: 0;}
}
@media screen and (max-width:1100px){
	#header .nav li>a{font-size: 13px;width: 90px;}
	#header .nav li{margin-left: 15px;}
	.nav .subnav img{display: none;}
	.nav .subnav1 img{display: none;}
}
@media screen and (max-width:900px){
	#header .nav li{margin-left: 0px;}
	.header-t .right{margin-right: 40px;}
	.header-t .right li:nth-of-type(5){display: none;}
	.header-t .right li:nth-of-type(6){display: none;}
	.header-t .right li:nth-of-type(7){display: none;}
	.header-t .right li:nth-of-type(8){display: none;}
	.header-t .right li:nth-of-type(9){display: none;}
	#header .header-t .i2{visibility: visible;margin-right: 10px;}	
}
@media screen and (max-width: 800px){
	#header .nav li>a {font-size: 12px;line-height: 30px;width: 72px;}
	.warpper{display: flex;justify-content: center;}
	.header-m img{display: block;}
}
@media screen and (max-width: 700px){
	.header-t ul{display: none;}
	#header .header-t .i1{visibility: visible;margin-right: 10px;}	
	#header .header-t .i2{visibility: hidden;}
	#header .nav{display: none;}
}
/*头部第二部分*/
.header-m{
	background: #8f000b url(../img/pkucloud1h100.png) no-repeat right top;
}
.header-m a{
	padding: 20px 0 20px 15px;
}
.header-m img{
	width: 213px;
	height: 60px;
}
/*头部第三部分*/
.nav{
	position: relative;
}
.nav ul>li{
	float: left;
	padding: 0 11px;
}
.nav li>a{
	display: block;
    line-height: 43px;
    font-size: 16px;
    color: #333;
    text-align: center;
    width: 125px;
}
.nav ul>li:hover{
	background: #8c0000;
	transition: all 0.2s;
}
.nav ul>li:hover>a{
	color: #fff	
}
/*二级导航*/
.subnav{
	position: absolute;
	width: 100%;
	left: 0;
	background: #fff;
	padding: 20px 0;
	display:none;
	transition: all 0.5s;
	box-sizing:border-box;
}
.nav ul>li:nth-of-type(1):hover .subnav{
	display: block;
}
.subnav img{
	padding-left: 20%;
}
.subnav p{
	color: #8c0000;
	margin-left: 40px;
    margin-right: 10px
}
.subnav ul{
	margin-left: 30px;
}
.subnav ul li{
	float: none;
}
.subnav ul a{
	color: #565656;
	line-height: 24px;
    font-size: 14px;
}
.subnav .left li:hover a{
	color: #8c0000;
	background-color: none;
}
.nav .subnav .left li:hover{
	background: none;
}
.subnav1{
	position: absolute;
	width: 100%;
	left: 0;
	background: #fff;
	padding: 20px 0;
	display:none;
	transition: all 0.5s;
	box-sizing:border-box;
}
.nav ul>li:nth-of-type(2):hover .subnav1{
	display: block;
}
.subnav1 img{
	padding-left: 20%;
}
.subnav1 p{
	color: #8c0000;
	margin-left: 40px;
    margin-right: 10px
}
.subnav1 ul{
	margin-left: 30px;
}
.subnav1 ul li{
	float: none;
}
.subnav1 ul a{
	color: #565656;
	line-height: 24px;
    font-size: 14px;
}
.subnav1 .left li:hover a{
	color: #8c0000;
	background-color: none;
}
.nav .subnav1 .left li:hover{
	background: none;
}
/*轮播图*/
.banner{
	width: 100%;
}
.banner img{
	width: 90%;
	margin: 0 auto;
}
/*新闻1*/
.news{
	width: 55%;
	margin: 0 auto;
}
.news1{
	width: 100%;
	margin-top: 35px;
}
.news1 h3{
	font-size: 18px;
	line-height: 42px;
	color: #323232;
	margin-bottom: 8px;
	border-bottom: 2px solid #8c0000;
}
.news1-ul>li{
	float: left;
	width: 28%;
	margin: 5px 40px 0 0;
}
.news1-ul>li:nth-of-type(2){
	margin-left: 40px;
}
.news1-ul>li:nth-of-type(3){
	margin-left: 30px;
	margin-right: 0;
}
.news1-ul img{
	width: 100%;
}
.news1-ul h4{
	margin: 5px 0 5px;
	font-weight: none;
}
.news1-ul h4 a{
	font-size: 14px;
	color: #323232;
	line-height: 18px;
}
.news1-ul p{
	color: #787878;
	font-size: 12px;
	line-height: 18px;	
}
.news-ul-sub li{
	padding: 12px 12px 12px 18px;
	line-height: 20px;
	height: 40px;
	border-bottom: 1px solid #e5e5e5;
}
.news-ul-sub li a{
	color: #323232;
	font-size: 14px;
}
.news-ul-sub .li-last{
	border: 0;
}
.news-ul-sub .li-last a{
	color: #8c0000;
}
.news-ul-sub .li-last span{
	color: #000;
}
@media screen and (max-width: 1750px){
	.news{width: 80%;}
}
@media screen and (max-width: 1060px){
	.news .news1-ul>li{margin-right: 10px;}
}
@media screen and (max-width: 800px){
	.news .news1-ul>li{float: none;width: 100%;margin-left: 0;}
	.news .news1-ul>li:nth-of-type(1) a,p{display: none;}
}
/*新闻2*/
.news2{
	width: 100%;
}
/*左*/
.news2 ul{
	width: 55%;
}
.news2 ul li{
	margin-bottom: 10px;
}
.news2 ul li h3{
	font-size: 18px;
	border-bottom:2px solid #8c0000;
	height: 42px;
    line-height: 42px;
    margin-bottom: 8px;
}
.news2 ul li img{
	width: 120px;
	height: 120px;
}
.news2 ul li .right{
	width: 400px;
	/*padding-left: 30px;*/
}
.news2 ul li .right a{
	display: block;
	margin-bottom: 18px;
	color: #323232;
	font-size: 14px;
}
.news2 ul li .right p{
	font-size: 12px;
	color: #505050;
	line-height: 18px;
}
.news2 ul li a{
	color: #323232;
}
.news2 ul li span{
    color: #8c0000;
}
/*二*/
.news ul .media-bd p{
	margin-bottom: 16px;
}
.news ul .media-bd span{
	width: 120px;
    height: 40px;
    display: block;
    background: #f4f4f4;
    text-align: center;
    line-height: 40px;
    margin-right: 24px;
    float: left;
}
.news ul .media-bd a{
	display: block;
	font-size: 12px;
	float: left;
	width: 423px;
}
@media screen and (max-width: 900px){
	.news ul .media-bd a{float: right;}
}
/*三*/
.port p{
	padding-bottom: 18px;
}
.port p span:nth-of-type(1){
	font-size: 18px;
	line-height: 36px;
}
.port p span:nth-of-type(2){
	font-size: 12px;
	padding-right: 41px;
}
.port p a{
	padding-left: 10px;
	padding-top: 5px;
	border-left: 1px solid #c9c9c9;
	font-size: 12px;
}
@media screen and (max-width: 900px){
	/*.news .port p a{float: right;}*/
	.news p{width: 100%;}
}
/*右*/
.news2 dl{
	width:40%; 
	margin-top: 10px;
	margin-right: 0;
}
.news2 dl dt{
	margin-top: 15px;
	float: left;
	border: 1px solid #c9c9c9;
	background: #f4f4f4;
	padding:51px 0;
	width: 94px;
	text-align: center ;
}
.news2 dl dt img{
	margin-left:20px;
}
.news2 dl dt a{
	color: #323232;
}
.news2 dl dd{
	margin-top: 15px;
	float: left;
	border-top: 2px solid #8c0000;
	box-sizing: border-box;
	position: relative;
}
.news2 dl dd img{
	width: 307px;
	height: 173px;
}
.news2 dl dd p{
	width: 100%;
	text-align: center;
	font-size: 14px;
	line-height: 28px;
	position: absolute;
	color: #fff;
	left: 0;
	bottom: 0;
	/*background: #000;
	opacity: 0.6;*/
	background: rgba(0,0,0,0.7);
	/*display: none;*/
	height: 0;
	overflow: hidden;
	transition: all 0.5s;
}
.news2 dl dd:hover p{
	/*display: block;*/
	height: 28px;
}
@media screen and (max-width: 1860px){
	.news2 dl{width: 43%}
	/*.news2 dl dd{float: none;}
	.news2 dl dt{float: none;}*/
}
@media screen and (max-width: 1050px){
	.news2 dl dd a{width: 248px;display: block;}
	.news2 dl dd img{width: 100%;}
	.news{width: 100%;}
}
@media screen and (max-width: 900px){
	.news2 dl{float: none;width: 100%;}
	.news2 dl dd{width: 80%;}
	.news2 dl dd a{width: 100%;}
	.news2 ul{float: none;width: 100%;}

}
/*新闻3*/
.news3{
	padding-top: 35px;
}
.news3 div{
	width: 100px;
	height: 120px;
	border: 1px solid #c9c9c9; 
	background: #f4f4f4;
	text-align: center;
}
.news3 div img{
	margin-left:25px;
	margin-top: 30px;
}
.news3 ul li{
	float: left;
	position: relative;
}
.news3 ul li img{
	width: 180px;
	height: 122px;
}
.news3-ul p{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #fff;
	line-height: 28px;
	background: rgba(0,0,0,0.7);
	height: 0;
	overflow: hidden;
	transition: all 0.5s;
}
.news3 li:hover p{
	height: 28px;
}
/*新闻4*/
#main{
	background: url(../img/fw_bg.jpg) no-repeat left bottom;
}
.news-img ul{
	width: 100%;
	padding-bottom: 42px;
}
.news-img ul li{
	float: left;
	border: 5px solid #fff;
	box-shadow: 0 0 5px #fff;
	margin: 47px 53px 0 0;
}
.news-img ul li a{
	display: block;
	position: relative;
	/*width: 194px;
	height: 126px;*/
}
.news-img ul li a>img{
	width: 194px;
	height: 126px;
}
.news-img p{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #fff;
	line-height: 20px;
	background: #64a2af;
	opacity: 0.6;
}
@media screen and (max-width: 1300px){
	#main .news-img ul li{margin: 47px 10px 0 0;}
}
@media screen and (max-width: 1100px){
	#main .news-img ul li{margin: 47px 0px 0 0;}
}
@media screen and (max-width: 950px){
	.news .news-img ul li a{overflow: hidden;}
	.news .news-img ul li a>img{width: 162px;height: 105px;}
}
@media screen and (max-width: 800px){
	.news .news-img ul li{border:0;}
	.news .news-img ul li a{/*width: 0;*/width: 175px;height:48px;}
	.news .news-img ul li a>img{display: none;}
	.news .news-img p{position: relative;width: 175px;height:48px;opacity: 1;}
	.news .news-img p>img{display: block;}
}
/*底部*/
footer{
	background: url(../img/f_bg.jpg) no-repeat left top;
	width: 100%;
}	
footer section{
	width: 55%;
	margin: 0 auto;
	padding: 16px 0;
}
.footer-l{
	width: 256px;
	padding: 25px 0 0 60px;
	border-left: 1px solid #7a0000;
	border-right: 1px solid #7a0000;
	box-sizing: border-box;
}
footer .footer-l1 a{
	display: block;
	color: #fff;
	line-height: 36px;
	font-size: 12px;
}
footer .footer-l2{
	margin-right: 50px;
}
footer .footer-l2 a{
	display: block;
	color: #fff;
	line-height: 36px;
	font-size: 12px;
}
.footer-img{
	padding: 59px 91px 0 96px
}
.footer-img img{
	width: 172px;
	height: 49px;
}
.footer-r{
	border-left: 1px solid #7a0000;
	border-right: 1px solid #7a0000;
	padding-top:42px;
}
.footer-r ul{
	margin-left: 25px;
	/*padding: 42px 25px 0 40px;*/
}
.footer-r li{
	float: left;
	width: 25%;
	padding-top: 31px;
	border-radius: 50%;
}
.footer-r li a{
	display: block;
	background: url(../img/icons_0_32.png) no-repeat ;
	width: 32px;
	height: 32px;
	line-height: 32px;
	opacity: 0.3;
	color: #fff;
	padding-right: 18px;

}
.footer-r li:nth-of-type(1) a{
	background: url(../img/icons_0_32.png) no-repeat 0 -104px;
}
.footer-r li:nth-of-type(2) a{
	background: url(../img/icons_0_32.png) no-repeat 0 -1663px;
}
.footer-r li:nth-of-type(3) a{
	background: url(../img/icons_0_32.png) no-repeat 0 -314px;
}
.footer-r li:nth-of-type(4) a{
	background: url(../img/icons_0_32.png) no-repeat 0 -104px;
}
.footer-r li:nth-of-type(5) a{
	background: url(../img/icons_0_32.png) no-repeat 0 -104px;
}
.footer-r li:nth-of-type(6) a{
	background: url(../img/icons_0_32.png) no-repeat 0 -104px;
}
.footer-r li:nth-of-type(7) a{
	background: url(../img/icons_0_32.png) no-repeat 0 -104px;
}
.footer-r li:nth-of-type(8) a{
	background: url(../img/icons_0_32.png) no-repeat 0 -104px;
}
@media screen and (max-width: 1900px){
	footer section{width: 100%}
}
@media screen and (max-width: 1100px){
	footer .footer-l{padding-left: 20px}
	footer .footer-img{padding:59px 20px 0 20px;}
}
@media screen and (max-width: 900px){
	footer .footer-img{padding:59px 0px 0 0px;}
	footer .footer-l2{margin-right: 0px}
}
/*最底部*/
#bottom{
	background: #000;
	width: 100%;
}
#bottom section{
	color: #fff;
	width: 55%;
	margin: 0 auto;
	font-size: 12px;
	padding: 10px 0;	
}
