html,body,p,ul,li,ol,dl,dt,dd,form,input,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	font-weight: none;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}