@charset "utf-8";
.recommend{
	h3{
		height: 34px;
	    color: $num_color;
	    font: bold 20px "Microsoft YaHei";
	    border-bottom: 2px solid $num_color;
	    padding-left: 5px;
	    a{
	    	color: $num_color;
	    	font-size:$a_size+8px;
	    }
	}
	.content{
		border: 1px solid $border_color;
	    width: 1198px;
	    margin: 10px auto 0;
	    overflow: hidden;
	    padding: 10px 0 15px;
	    background: url(http://img63.ddimg.cn/upload_img/00111/gg/guanggao02.png) no-repeat right bottom;
	    ul{
	    	padding-left: 5px;
    		width: 1188px;
    		@include position(static);
	    }
	    li{
	    	float: left;
		    width: 190px;
		    height: 258px;
		    padding: 4px 3px 7px 3px;
		    border: 1px solid #EFEFEF;
		    img{
		    	width: 190px;
    			height: 190px;
		    }
			.img{
				display: block;
	    		margin:0 auto;
	    		width: 190px;
				height: 190px;
				@include position(static);
			}
		    .name{
		    	width: 190px;
			    height: 32px;
			    line-height: 16px;
			    padding: 8px 0 0;
			    margin-bottom: 5px;
			    overflow: hidden;
		    	a{
					color: #666;
		    	}
		    }
		    .price{
		    	font-size: $a_size+4px;
			    color: $num_color;
			    position: relative;  
		    }
		    .dprice{
		    	position: absolute;
			    right: 5px;
			    bottom: 2px;
			    font-size:$a_size;
			    padding: 4px 0 0 0;
			    color: #787878;			    	
		    }
	    }
	}
}
