@charset "utf-8";
@import "header";
@import "footer";
$a_color:#646464;
$border_color:#e6e6e6;
$ts:ts;
#top{
	background:none;
	height: 71px;	
}
.wrapper{
	width: 960px;
	border-bottom:3px solid #f07700;
	margin:0 auto;
	position: relative;
	.log{
		font-size:$a_size;
		position: absolute;
		right:0;
		top:40px;
		a{
			color: #1a66b3;
		}
	}
}
.logo{
	float:left;
}
.nav{
	float:right;
}
#box{
    position: relative;
    top: 40px;
    left: 480px;
    width: 960px;
    border:3px solid $border_color;
    box-shadow: -5px 5px 10px $border_color;
    margin-bottom:70px;
    .wrapper{
    	border:0;
    	margin:0 auto;
    }
}
.head{
	span{
		float:right;
		color: $a_color;
	    line-height: 22px;
	    margin-top: 40px;
	    a{
	    	padding-left: 16px;
		    margin-right: 15px;
		    background: url(https://login.dangdang.com/images/icon_20150706.png) 0 2px no-repeat;
	    }
	}
	.reg{
		float:left;
		width: 135px;
	    height: 46px;
	    display: inline-block;
	    position: absolute;
	    left: 20px;
	    top:17px;
	    border: 1px solid #eceef2;
	    border-bottom: none;
	    font-size: $a_size+4px;
	    line-height: 42px;
	    text-align: center;
	    color: #464646;
	    margin-left: 6px;
	    background-color: white;
	}
	.reg1{
		@extend .reg;
		left:180px;
	}
}
.register{
	p{
		line-height: 24px;
	    color: #828282;
	    padding-left: 22px;
	    background: url(https://login.dangdang.com/images/new_tip.png) 3px 5px no-repeat #fef7f5;
	    width: 670px;
	    border: 1px solid #fedbd1;
	    margin: 10px auto 10px;
	    font-size:$a_size;
	    a{
	    	color:#1a66b3;
	    }
	}
}
.commentForm{
	color: $a_color;
	padding-bottom:40px;
	p{
		background:none;
		border:0;
		font-size:$a_size+2px;
		padding-left:250px;
		span{
			display: inline-block;
		    margin-top: 14px;
		    width: 16px;
		    height: 16px;
		    font-weight:600;
		}
	}
	@for $i from 1 through 3{
		.#{$ts}-#{$i}{
			line-height: 14px;
		    padding: 0 4px;
		    margin-right: 5px;
		    font-size:$a_size;
		    color: $a_color;
		    padding-left:350px;
		}
	}
	label{
		padding-right:10px;
	}
	input{
		border: 1px solid #e6e6e6;
	    height: 18px;
	    width: 290px;
	    margin-right: 10px;
	    padding: 9px 10px;
	    line-height: 18px;
	    outline: none;
	    border-radius: 2px;
	    color: #333;
	}
	.form-c{
		input{
			width: 15px;
			height: 15px;
			margin: -4px 8px 0 0;
		}
	}
	.submit{
		input{
			display: block;
		    font-size: $a_size+8px;
		    border: 0;
		    outline: none;
		    width: 178px;
		    height: 44px;
		    cursor: pointer;
		    text-align: center;
		    background-color: #ff2832;
		    color: #fff;
		    border-radius: 22px;
		    margin-left: 80px;
		    margin-top:20px;
		}
	}
}
footer{
	margin-top:100px;
	.wrapper{
		border:0;
	}
}