.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.clear::after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}

a {
  text-decoration: none;
  color: #646464;
  font-size: 12px;
}

#top {
  background: #f9f9f9;
  height: 34px;
}

.top-l {
  float: left;
}

.top-m {
  float: right;
}

.top-r {
  float: right;
}

.top-r {
  padding-top: 2px;
}
.top-r li {
  float: left;
  position: relative;
  height: 24px;
  padding-top: 4px;
  line-height: 24px;
  background: url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png) no-repeat left -285px;
}
.top-r li a {
  display: block;
  position: relative;
  line-height: 21px;
  padding: 0 7px 0 8px;
}
.top-r li a .num {
  color: #ff2832;
}
.top-r li a i {
  float: left;
  width: 15px;
  height: 14px;
  background: url(http://img63.ddimg.cn/upload_img/00459/home/home_sprite2.png) no-repeat -40px -86px;
  overflow: hidden;
  margin: 3px 9px 0 0;
}
.top-r li li {
  float: none;
  background: none;
}
.top-r li .subnav-btn {
  padding-right: 27px;
  background: url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png) no-repeat right -307px;
}
.top-r li .subnav {
  position: absolute;
  top: 21px;
  left: -1px;
  border: 1px solid #e6e6e6;
  border-top: none;
  background-color: #fff;
  padding: 4px 0;
  z-index: 100;
  display: none;
}

.top-m {
  padding: 5px 0 0 10px;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 12px;
}
.top-m a {
  margin-right: 4px;
  color: #ff2832;
}

.top-l {
  position: relative;
}
.top-l .address {
  display: block;
  position: relative;
  line-height: 22px;
  height: 22px;
  background: url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png) no-repeat right -303px;
  padding: 4px 22px 0 9px;
}
.top-l ul {
  position: absolute;
  top: 27px;
  left: 0px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  padding: 10px 0 10px 10px;
  width: 298px;
  z-index: 100;
  display: none;
}
.top-l ul li {
  background: none;
  float: left;
  width: 48px;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 10px;
}

#header {
  height: 143px;
}
#header .header-top {
  position: relative;
  height: 100px;
}
#header .header-top .logo {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
#header .header-top form {
  position: absolute;
  margin-top: 20px;
  height: 48px;
  left: 362px;
  top: 0;
}
#header .header-top form input {
  width: 398px;
  height: 18px;
  border: 2px solid #ff2832;
  border-right: none;
  padding: 9px 0 9px 10px;
  position: absolute;
  left: 0;
  top: 0;
  color: #323232;
  font-size: 12px;
  outline: 0;
  background: none;
}
#header .header-top form .subnav-btn-all {
  position: absolute;
  top: 0px;
  left: 410px;
  border: 2px solid #ff2832;
  border-left: 0px solid #dedede;
  width: 92px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #969696;
  padding: 0 0 0 14px;
  cursor: pointer;
  background-color: #f6f6f6;
}
#header .header-top form .search-btn {
  width: 48px;
  height: 40px;
  border: none;
  background: url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png) no-repeat 0 -346px;
  cursor: pointer;
  position: absolute;
  left: 517px;
  top: 0;
}
#header .header-top .form-bottom {
  position: absolute;
  top: 65px;
  left: 362px;
  color: #969696;
  width: 565px;
  line-height: 20px;
  font-size: 12px;
}
#header .header-top .form-bottom .form-bottom-l {
  float: left;
}
#header .header-top .form-bottom .form-bottom-l a {
  margin-left: 5px;
  margin-right: 10px;
  color: #969696;
}
#header .header-top .form-bottom .form-bottom-r {
  float: right;
  color: #969696;
}
#header .header-top .header-top-right {
  float: right;
  position: absolute;
  top: 20px;
  right: 0px;
}
#header .header-top .header-top-right .cart {
  float: left;
  width: 107px;
  height: 36px;
  line-height: 36px;
  border: 2px solid #ff2832;
  background: url(http://img62.ddimg.cn/upload_img/00459/home/icon_cart.png) 5px 0 no-repeat #ff2832;
}
#header .header-top .header-top-right .cart a {
  padding-left: 35px;
  font-size: 14px;
  color: #fff;
}
#header .header-top .header-top-right .cart span {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
#header .header-top .header-top-right .order {
  float: left;
  width: 86px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  background-color: #f6f6f6;
  border: 2px solid #dcdcdc;
}
#header .subnav-btn-all i {
  width: 13px;
  height: 7px;
  background: url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png) no-repeat -14px -90px;
  position: absolute;
  left: 88px;
  top: 16px;
}
#header .subnav-btn-all ul {
  z-index: 100;
  width: 104px;
  height: 288px;
  border: 1px solid #dedede;
  position: absolute;
  top: 36px;
  left: 0px;
  background-color: #fff;
  overflow: auto;
}
#header .subnav-btn-all ul li {
  height: 24px;
  line-height: 24px;
  padding: 0 5px 0 15px;
}
#header .header-bottom .nav {
  height: 40px;
  border-bottom: 3px solid #ff2832;
}
#header .header-bottom .nav li {
  float: left;
}
#header .header-bottom .nav li a {
  color: #323232;
  font-size: 14px;
  padding: 0 15px;
  display: block;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
}
#header .header-bottom .nav .all {
  width: 200px;
  margin-right: 17px;
  text-align: left;
  background: #ff2832;
  position: relative;
}
#header .header-bottom .nav .all a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 20px;
  display: block;
  width: 171px;
  background: url(http://img63.ddimg.cn/upload_img/00459/home/head_sprite.png) no-repeat 161px -567px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.on {
  background: #fff;
  color: #F07828;
  z-index: 10;
  margin: -2px -1px -2px 0;
  padding: 0 1px 0 16px;
  border: 2px solid #ff2832;
  border-right: 0;
}

.zd {
  width: 2px;
  height: 30px;
  background: #fff;
  position: absolute;
  right: -2px;
  top: 0;
  display: none;
  z-index: 999999;
}

.footer-top {
  width: 100%;
  background: #fafafa;
  border-bottom: 1px solid #ebebeb;
}
.footer-top ul {
  width: 940px;
  margin: 0 auto;
  height: 68px;
  padding: 5px 0 5px 30px;
}
.footer-top ul li {
  float: left;
}
.footer-top ul a {
  display: block;
  height: 52px;
  width: 187px;
  padding: 7px 0 7px 48px;
}
.footer-top ul a span {
  text-indent: -9999px;
  display: block;
  width: 138px;
  height: 52px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}
.footer-top ul a .span-1 {
  background: url(http://img61.ddimg.cn/upload_img/00660/home/footer_bg.png) no-repeat 0 0;
}
.footer-top ul a .span-2 {
  background: url(http://img61.ddimg.cn/upload_img/00660/home/footer_bg.png) no-repeat 0 -52px;
}
.footer-top ul a .span-3 {
  background: url(http://img61.ddimg.cn/upload_img/00660/home/footer_bg.png) no-repeat 0 -104px;
}
.footer-top ul a .span-4 {
  background: url(http://img61.ddimg.cn/upload_img/00660/home/footer_bg.png) no-repeat 0 -156px;
}

.footer-middle {
  width: 920px;
  height: 140px;
  margin: 0 auto;
  padding-top: 30px;
}
.footer-middle ul {
  width: 154px;
  float: left;
  text-align: center;
}
.footer-middle ul h3 {
  padding-left: 30px;
  height: 36px;
  line-height: 36px;
}
.footer-middle ul h3 a {
  font-size: 14px;
  color: #323232;
}
.footer-middle ul li {
  line-height: 20px;
  height: 20px;
  padding-left: 30px;
}
.footer-middle ul li a {
  color: #7d7d7d;
}

.footer-bottom {
  border-top: 1px solid #ebebeb;
  width: 100%;
  padding: 17px 0 50px;
}
.footer-bottom .footer-bottom-t {
  text-align: center;
  padding-bottom: 17px;
}
.footer-bottom .footer-bottom-t a {
  color: #8c8c8c;
}
.footer-bottom .footer-bottom-t span {
  margin: 0 17px 0 19px;
  color: #8c8c8c;
}
.footer-bottom .footer-bottom-m {
  padding-top: 17px;
  text-align: center;
  color: #8c8c8c;
  font-size: 12px;
}
.footer-bottom .footer-bottom-m .message {
  line-height: 20px;
  padding-top: 10px;
}
.footer-bottom .footer-bottom-m .img {
  padding: 10px 0 0 20px;
  width: 975px;
  margin: 0 auto;
  height: 77px;
}
.footer-bottom .footer-bottom-m .img div {
  float: left;
  padding: 15px 25px 15px;
  width: 135px;
  height: 47px;
}

#top {
  background: none;
  height: 71px;
}

.wrapper {
  width: 960px;
  border-bottom: 3px solid #f07700;
  margin: 0 auto;
  position: relative;
}
.wrapper .log {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 40px;
}
.wrapper .log a {
  color: #1a66b3;
}

.logo {
  float: left;
}

.nav {
  float: right;
}

#box {
  position: relative;
  top: 40px;
  left: 480px;
  width: 960px;
  border: 3px solid #e6e6e6;
  box-shadow: -5px 5px 10px #e6e6e6;
  margin-bottom: 70px;
}
#box .wrapper {
  border: 0;
  margin: 0 auto;
}

.head span {
  float: right;
  color: #646464;
  line-height: 22px;
  margin-top: 40px;
}
.head span a {
  padding-left: 16px;
  margin-right: 15px;
  background: url(https://login.dangdang.com/images/icon_20150706.png) 0 2px no-repeat;
}
.head .reg, .head .reg1 {
  float: left;
  width: 135px;
  height: 46px;
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 17px;
  border: 1px solid #eceef2;
  border-bottom: none;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
  color: #464646;
  margin-left: 6px;
  background-color: white;
}
.head .reg1 {
  left: 180px;
}

.register p {
  line-height: 24px;
  color: #828282;
  padding-left: 22px;
  background: url(https://login.dangdang.com/images/new_tip.png) 3px 5px no-repeat #fef7f5;
  width: 670px;
  border: 1px solid #fedbd1;
  margin: 10px auto 10px;
  font-size: 12px;
}
.register p a {
  color: #1a66b3;
}

.commentForm {
  color: #646464;
  padding-bottom: 40px;
}
.commentForm p {
  background: none;
  border: 0;
  font-size: 14px;
  padding-left: 250px;
}
.commentForm p span {
  display: inline-block;
  margin-top: 14px;
  width: 16px;
  height: 16px;
  font-weight: 600;
}
.commentForm .ts-1 {
  line-height: 14px;
  padding: 0 4px;
  margin-right: 5px;
  font-size: 12px;
  color: #646464;
  padding-left: 350px;
}
.commentForm .ts-2 {
  line-height: 14px;
  padding: 0 4px;
  margin-right: 5px;
  font-size: 12px;
  color: #646464;
  padding-left: 350px;
}
.commentForm .ts-3 {
  line-height: 14px;
  padding: 0 4px;
  margin-right: 5px;
  font-size: 12px;
  color: #646464;
  padding-left: 350px;
}
.commentForm label {
  padding-right: 10px;
}
.commentForm input {
  border: 1px solid #e6e6e6;
  height: 18px;
  width: 290px;
  margin-right: 10px;
  padding: 9px 10px;
  line-height: 18px;
  outline: none;
  border-radius: 2px;
  color: #333;
}
.commentForm .form-c input {
  width: 15px;
  height: 15px;
  margin: -4px 8px 0 0;
}
.commentForm .submit input {
  display: block;
  font-size: 20px;
  border: 0;
  outline: none;
  width: 178px;
  height: 44px;
  cursor: pointer;
  text-align: center;
  background-color: #ff2832;
  color: #fff;
  border-radius: 22px;
  margin-left: 80px;
  margin-top: 20px;
}

footer {
  margin-top: 100px;
}
footer .wrapper {
  border: 0;
}

/*# sourceMappingURL=registor.css.map */
